{layout ../@layout-error.latte}
{block content}
<h1 n:block=title>Stránka nenalezena</h1>

<p>Stránka, kterou jste požadovali, nebyla nalezena. Je možné, že adresa je
    nesprávné nebo že stránka již neexistuje. K nalezení použijte vyhledávač
    co hledáte.</p>
<p><small>error 404</small></p>
